extends ../../layouts/default.pug

block main 
    h1 Danh sách xe

    table.table.table-hover.table-sm 
        thead   
            tr 
                th STT 
                th Hình ảnh
                th Hãng xe  
                th Tên xe 
                th Phiên bản
                th Giá
                th Hành động
        tbody
            each car, index in Car_items   
                tr
                    td #{index+1}
                    td 
                        img(src=car.imageUrl[0] alt=car.version width="100px" height="auto")
                    td #{car.brand}
                    td #{car.name}
                    td #{car.version}
                    td #{car.price}
                    td  
                        button(class="btn btn-warning btn-sm") Sửa
                        button(class="btn btn-danger btn-sm") Xóa

           

                